body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(209, 183, 149);
}
.container {
  background-color: rgba(137, 43, 226, 0.479);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(124, 87, 87);
  background-color: rgb(238, 175, 175);
  border-radius: 5px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(40, 50, 133);
  color: rgba(255, 5, 5, 0.664);
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(43, 48, 94);
}

#errorMessage {
  color: red;
}